<ion-view title="Convidar motorista" left-buttons="leftButtons">
    <ion-header-bar class="bar bar-subheader item-input-inset">
        <form ng-submit="pesquisar(search)" style="width: 90%;">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="email" placeholder="Email do usuário" data-ng-model="search.emailMotorista" >
            </label>
        </form>
        <button class="button button-icon ion-ios7-close" data-ng-click="cancelarPesquisa()"></button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <div class="card" ng-repeat="motorista in motoristas|orderBy:'nome'" ng-click="selecionarMotorista(motorista)">
                <div class="item item-avatar" >
                    <img ng-src="{{motorista.imagem}}">
                    <h2>{{motorista.nome}}</h2>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>