<ion-view title="{{meuCarroSelecionado.carroTransient.fabricanteTransient.nome}} - {{meuCarroSelecionado.carroTransient.nome}}" left-buttons="leftButtons">
    <ion-content has-header="true" padding="true">
    <div class="card" ng-show="novoAbastecimento.edicao">
        <div class="item item-divider">
            Novo abastecimento
        </div>
        <div class="item item-body">
            <form ng-submit="salvarAbastecimento(meuCarroSelecionado, novoAbastecimento)">
                <label class="item item-input">
                    <span class="input-label">Data:</span>
                    <input type="date" ng-model="novoAbastecimento.data">
                </label>

                <label class="item item-input">
                    <span class="input-label">Odometro:</span>
                    <input type="number" ng-model="novoAbastecimento.odometro">
                </label>

                <label class="item item-input">
                    <span class="input-label">Volume:</span>
                    <input type="number" ng-model="novoAbastecimento.volume">
                </label>

                <label class="item item-input">
                    <span class="input-label">Tipo de Combustivel:</span>
                    <input type="text" ng-model="novoAbastecimento.tipo">
                </label>

            </form>
        </div>
    </div>
    <div ng-hide="novoAbastecimento.edicao">
        <div>
            <p data-ng-show="meuCarro.anoFabricacao"><label>Ano fabricação/modelo: </label><b>{{meuCarro.anoFabricacao}}/{{meuCarro.anoModelo}}</b></p>
            <p><label>Tipo combustivel: </label><b>{{meuCarroSelecionado.carroTransient.tipoCombustivel}}</b></p>
            <p><label>Consumo Medio ethanol: </label><b>{{meuCarroSelecionado.consumoMedioEta}}</b></p>
            <p><label>Consumo Medio gasolina: </label><b>{{meuCarroSelecionado.consumoMedioGas}}</b></p>
            <p><label>Odometro total: </label><b>{{meuCarroSelecionado.odometroTotal}}</b></p>
        </div>
        <div class="list">
            <div class="card" data-ng-repeat="abastecimento in meuCarroSelecionado.abastecimentos | orderBy:'data':true | limitTo:3">
                <div class="item item-divider">
                    {{abastecimento.dataExibicao | date:'dd/MM/yyyy'}} - {{abastecimento.tipo}}
                </div>
                <div class="item item-body">
                    <p><label>Volume abastecido: </label>{{abastecimento.volume}}</p>
                    <p><label>Distancia percorrida: </label>{{abastecimento.distanciaPercorrida}}</p>
                </div>
            </div>
        </div>
    </div>
    </ion-content>
    <ion-footer-bar>
        <div class="buttons" style="height: 100%;width: 100%" ng-hide="novoAbastecimento.edicao">
            <button class="button" style="height:100%; width:98%" data-ng-click="abastecer(meuCarroSelecionado)" >
                Abastecer
            </button>
        </div>
        <div class="buttons" style="height: 100%;width: 100%; text-align: center" ng-show="novoAbastecimento.edicao">
            <button class="button" style="height:100%; width:48%" data-ng-click="salvarAbastecimento()">
                Salvar
            </button>

            <button class="button" style="height:100%; width:48%" data-ng-click="cancelarAbastecimento()">
                Cancelar
            </button>
        </div>
    </ion-footer-bar>
</ion-view>