<ion-view title="Meus Carros" left-buttons="leftButtons" data-ng-init="carregarMeusCarros()">
    <ion-content has-header="true" padding="true">
        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="Puxe para atualizar...">
        </ion-refresher>
        <span ng-animate="'animate'" data-ng-repeat="meuCarro in meusCarros" data-ng-click="exibirMeuCarro(meuCarro)" class="card">
            <div class="item item-divider cabecalhoCard">
                {{ meuCarro.carroTransient.fabricanteTransient.nome }} - {{ meuCarro.carroTransient.nome }} - {{meuCarro.carroTransient.motor}}
            </div>
            <div class="item item-body">
                <p><label>Consumo Medio ethanol: </label>{{meuCarro.consumoMedioEta}}</p>
                <p><label>Consumo Medio gasolina: </label>{{meuCarro.consumoMedioGas}}</p>
                <p><label>Odometro total: </label>{{meuCarro.odometroTotal}}</p>
            </div>
        </span>
    </ion-content>
</ion-view>
