<div class="modal">
    <!--ion-header-bar align-title="left" class="bar bar-header bar-positive">
        <h1 class="title ng-binding icon-left ion-wrench" ng-bind-html="title" style="left: 52px; right: 52px;">Fabricantes</h1>
    </ion-header-bar-->
    <ion-header-bar align-title="left" class="bar bar-header item-input-inset">
        <form ng-submit="pesquisarFabricante(searchFabricante.nome)" style="width: 90%;">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="Nome do fabricante" data-ng-model="searchFabricante.nome" >
            </label>
        </form>
        <button class="button button-icon ion-ios7-close" data-ng-click="cancelarPesquisaFabricante()"></button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-radio data-ng-repeat="fabricante in fabricantes | orderBy : 'nome' | filter: searchFabricante"
                       data-ng-value="fabricante"
                       data-ng-model="novoCarro.fabricanteTransient"
                       data-ng-click="selecionarFabricante(novoCarro.fabricanteTransient)">
                {{ fabricante.nome }}
            </ion-radio>
        </ion-list>
    </ion-content>
</div>