<div class="modal">
    <ion-header-bar title="Carros" align-title="left">
        <form ng-submit="pesquisarCarros(nomeCarro)">
            <label class="item-input-wrapper">
                <input type="search" placeholder="Nome do carro" data-ng-model="nomeCarro" >
                <button class="button button-icon ion-ios7-search" ></button>
            </label>

        </form>
        <button class="button button-icon ion-ios7-close" data-ng-click="cancelarPesquisa()"></button>
    </ion-header-bar>
    <ion-content>
        <ion-list class="card">
            <span data-ng-repeat="carro in carros"
                       data-ng-click="selecionarCarro(carro)">
                <div class="item item-divider">
                    {{ carro.nome }} - {{carro.motor}}
                </div>
                <div class="item item-body">
                    <label>Tipo combustivel: </label>{{carro.tipoCombustivel}}
                </div>

            </span>
        </ion-list>
    </ion-content>
</div>