/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.card-button.ion-edit:before {
    font-size: 18px !important;
}

.card-button {
    float: right;
    border-color: darkgray;
}

.bar-footer-bottom {
    height: 80px !important;
 }

.buttons-footer {
    height: 95%;
    width: 100%;
    text-align: center;
}

.button-footer {
    height:100%;
    width:98%;
    font-size: 1.5em !important;
}

.button-footer.ion-checkmark-round:before {
    font-size: 44px !important;
    color: limegreen;
}

.button-footer.ion-close-round:before {
    font-size: 44px !important;
    color: #cc2311;
}

.half {
    width:48% !important;
}
