/* Your app's CSS, go crazy, make it your own */

body {
    font-size: 14px;
}

input {
    font-size: 16px;
}

.has-header {
    top: 45px;
}

.bar.bar-positive .title {
    font-weight: bold;
}

.bar.bar-dark {
    background-color: #000000 !important;
    font-weight: bold;
}

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
    border-color: #ccc;
    background-color: #000000;
}

.icon.ion-ios7-search.placeholder-icon {
    font-size: 21px;
}

.black-menu {
    background-color: #444444 !important;
    border-color: #dddddd;
    color: #fff;
}

/*var qual cor colocar no botões*/
.left-menu-item {
    background-color: transparent;
    color: #fff;
}

.view, .menu, .pane{
    background-color: #F8F8F8;
}

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.card-button.ion-edit:before {
    font-size: 18px !important;
}

.card-button {
    float: right;
    border-color: darkgray;
}

.bar-footer-bottom {
    height: 80px !important;
 }

.buttons-footer {
    height: 95%;
    width: 100%;
    /*border: 1px solid;*/
    display: table;
    text-align: center;
}

.button-footer {
    /*height:100%;
    width: 100;*/
    /*border: 1px solid;
    border-color:green;*/
    display: table-cell;
    font-size: 1.5em !important;
    vertical-align: middle;
}

.button-footer.ion-checkmark-round:before {
    font-size: 44px !important;
    color: limegreen;
}

.button-footer.ion-close-round:before {
    font-size: 44px !important;
    color: #cc2311;
}

.redicon{
    color: #cc2311;
}

.greyicon {
    color: #D3D3E4;
}

.bar-assertive {
    color: #cc2311;
}

.cabecalhoCard {
    background-color: #ECF4F8 !important;
}

.button-abastecer {
    background-image: url('../img/gas-station-icon.png');
    background-position: center;
    background-size: 32px;
    background-repeat: no-repeat;
}

/*form validation*/
form i.icon.error {
    color: #ef4e3a; }

form input + i.icon.error {
    display: none;
    margin-left: 8px; }

form.ng-submitted input.ng-invalid + i.icon.error {
    display: block; }

form .has-error {
    border-left: 5px solid #cc2511; }

form .has-success {
    border-left: 5px solid #3d8b3d; }

form.ng-submitted input.ng-valid + i.icon.error {
    display: none; }


/*animação*/
.animate-enter,
.animate-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.animate-leave.animate-leave-active,
.animate-enter {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    height: 0px;
    opacity: 0;
}

.animate-enter.animate-enter-active,
.animate-leave {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    height: 30px;
    opacity: 1;
}