/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.bar-footer-bottom {
    height: 80px !important;
 }

.buttons-footer {
    height: 95%;
    width: 100%;
    text-align: center;
}

.button-footer {
    height:100%;
    width:98%
}

.half {
    width:48% !important;
}
