/* Your app's CSS, go crazy, make it your own */

body {
    font-size: 14px;
}

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.card-button.ion-edit:before {
    font-size: 18px !important;
}

.card-button {
    float: right;
    border-color: darkgray;
}

.bar-footer-bottom {
    height: 80px !important;
 }

.buttons-footer {
    height: 95%;
    width: 100%;
    /*border: 1px solid;*/
    display: table;
    text-align: center;
}

.button-footer {
    /*height:100%;
    width: 100;*/
    /*border: 1px solid;
    border-color:green;*/
    display: table-cell;
    font-size: 1.5em !important;
    vertical-align: middle;
}

.button-footer.ion-checkmark-round:before {
    font-size: 44px !important;
    color: limegreen;
}

.button-footer.ion-close-round:before {
    font-size: 44px !important;
    color: #cc2311;
}

.redicon{
    color: #cc2311;
}

.greyicon {
    color: #D3D3E4;
}

.bar-assertive {
    color: #cc2311;
}

.cabecalhoCard {
    background-color: #ECF4F8 !important;
}

.button-abastecer {
    background-image: url('../img/gas-station-icon.png');
    background-position: center;
    background-size: 32px;
    background-repeat: no-repeat;
}